.icono {
    cursor: pointer;
}

.mat-row:hover {
    background: linear-gradient(to right,#673ab7, #673ab7, white);
}

.mat-row:hover .mat-cell {
    color: #fff;
}

.cardHeader {
    position: relative;
}

.purpleText {
    color: #673ab7;
}

.radioButtons{
    position: absolute;
    right: 5%;
}

.drawer-container {
    display: inherit;
}

.overflow-x-hidden{
    overflow-x: hidden;
}

.aprobado {
    background-color: #00be37;
}