<div class="row justify-content-center w-100">

  <div class="col-9">
    <mat-card class="shadow-lg mx-3 my-3 px-0">
      <mat-card-header class="cardHeader mt-2 px-4">
        <mat-card-title class="fs-1 fw-bold m-0 p-2 purpleText">LISTA DE ALUMNOS</mat-card-title>
        <mat-radio-group aria-label="Select an option" class="radioButtons purpleText fw-bold">
          <mat-radio-button value="1" color="primary" class="px-2" (click)="obtenerAlumnos()" [checked]="true">TODOS</mat-radio-button>
          <mat-radio-button value="2" color="primary" class="px-2" (click)="filtrarAlumnos(true)">APROBADOS</mat-radio-button>
          <mat-radio-button value="3" color="primary" class="px-2" (click)="filtrarAlumnos(false)">DESAPROBADOS</mat-radio-button>
        </mat-radio-group>
      </mat-card-header>
      <mat-card-content class="row mt-3 px-5">
        <table *ngIf="!error" mat-table [dataSource]="dataSource" class="mat-elevation-z8 col-12">
          <ng-container matColumnDef="legajo">
            <th mat-header-cell *matHeaderCellDef class="purpleText"> N° Legajo </th>
            <td mat-cell *matCellDef="let alumno"> {{alumno.legajo}} </td>
          </ng-container>
          <ng-container matColumnDef="nombre-apellido">
            <th mat-header-cell *matHeaderCellDef class="purpleText"> Nombre y apellido </th>
            <td mat-cell *matCellDef="let alumno"> {{ alumno.nombre }} {{ alumno.apellido }} </td>
          </ng-container>
          <ng-container matColumnDef="edad">
            <th mat-header-cell *matHeaderCellDef class="purpleText"> Edad </th>
            <td mat-cell *matCellDef="let alumno"> {{alumno.edad}} </td>
          </ng-container>
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef class="purpleText"> Email </th>
            <td mat-cell *matCellDef="let alumno"> {{alumno.email}} </td>
          </ng-container>
          <ng-container matColumnDef="aprobado">
            <th mat-header-cell *matHeaderCellDef class="text-center purpleText"> Situación </th>
            <td mat-cell *matCellDef="let alumno" class="text-center"> 
              <span *ngIf="alumno.aprobado" class="badge rounded-pill py-2 w-50 aprobado">APROBADO</span>
              <span *ngIf="!alumno.aprobado" class="badge rounded-pill py-2 w-50 bg-danger">DESAPROBADO</span>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; let i = index; columns: displayedColumns;" (click)="seleccionarAlumno(row.legajo)"></tr>
        </table>
        <div *ngIf="error">
          <h1 class="text-center text-danger fs-5 mt-5">{{mensajeError}}</h1>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-3 p-0">
    <mat-card class="shadow-lg my-3">
      <mat-card-header class="mat-card-header justify-content-center mt-2 px-4 cardHeader">
        <mat-card-title class="mat-card-title fs-1 fw-bold m-0 p-2 text-center purpleText">ALUMNO</mat-card-title>
      </mat-card-header>
      <mat-card-content class="mat-elevation-z8 m-2 mt-3 p-4">
        <div *ngIf="alumnoSeleccionado$ | async as alumnoSeleccionado; else template">
          <div class="fs-4 purpleText"> NOMBRE: </div>
          <div class="fs-5 fw-light mt-2">{{alumnoSeleccionado?.nombre}}</div>
          <div class="fs-4 mt-5 purpleText"> APELLIDO: </div>
          <div class="fs-5 fw-light mt-2">{{alumnoSeleccionado?.apellido}}</div>
          <div class="fs-4 mt-5 purpleText"> EDAD: </div>
          <div class="fs-5 fw-light mt-2">{{alumnoSeleccionado?.edad}}</div>
          <div class="fs-4 mt-5 purpleText"> EMAIL: </div>
          <div class="fs-5 fw-light mt-2">{{alumnoSeleccionado?.email}}</div>
          <div class="fs-5 fw-light mt-5 text-center">
            <span *ngIf="alumnoSeleccionado?.aprobado" class="badge rounded-pill py-2 w-50 aprobado">APROBADO</span>
            <span *ngIf="!alumnoSeleccionado?.aprobado" class="badge rounded-pill py-2 w-50 bg-danger">DESAPROBADO</span>
          </div>
        </div>
        <ng-template #template>
          <div class="text-center my-5 py-5">
            No se seleccionó ningun alumno...
          </div>
        </ng-template>
      </mat-card-content>
    </mat-card>
  </div>
  
</div>
